{% extends "accounts/base.html" %}
<!--  -->
{% block title %} my complaints {% endblock title %}
<!--  -->
{% block headerTitle %} My Complaints {% endblock headerTitle %}
<!--  -->
{% block linkForm %}
<a href="{% url 'complaints:send_complaints' %}" class="align-items-center btn btn-theme">
    <i data-feather="plus-square"></i>Add New

</a>
{% endblock linkForm %}
<!--  -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button> {{message}}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="table-responsive table-desi">
                            <table class="user-table table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="form-check user-checkbox">
                                                No.
                                        </span>Title</th>
                                        <th>Date Created</th>
                                        <th>Date Updated</th>
                                        <th>Status</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for complaint in complaints %}
                                    <tr>
                                        <td>
                                            <div class="form-check user-checkbox">
                                                {{forloop.counter}} </div>
                                            <span class="text-center">
                                                {{complaint.title}}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">
                                                <span class="d-block ">{{complaint.date_created}}</span>
                                            </a>
                                        </td>
                                        <td>{{complaint.date_updated}}</td>
                                        <td>
                                            {% if complaint.resolved_complaint %}
                                            <a class="text-success">Resolved</a>
                                            <!--  -->
                                            {% else %}
                                            <a class="text-danger">Unresolved</a>
                                            <!--  -->
                                            {% endif %}
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{% url 'complaints:view_detailed' complaint_id=complaint.id %}">
                                                        <span class="lnr lnr-eye"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'complaints:edit_complaint' complaint_id=complaint.id %}">
                                                        <span class="lnr lnr-pencil"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop{{complaint.id}}" href="#">
                                                        <span class="lnr lnr-trash"></span>
                                                        <div class="modal fade" id="staticBackdrop{{complaint.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog  modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-body">
                                                                        <h5 style="color:black" class="modal-title" id="staticBackdropLabel">Delete!!</h5>
                                                                        <p style="color:black">Are you sure you want to delete this record?</p>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        <div class="button-box">
                                                                            <a href="#" type="button" class="btn btn--no " data-bs-dismiss="modal">No</a>
                                                                            <a href="{% url 'complaints:delete_complaint' complaint_id=complaint.id %}" type="button" class="btn  btn--yes btn-primary">Yes</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="pagination-box">
                    <nav class="ms-auto me-auto " aria-label="...">
                        <ul class="pagination pagination-primary">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1 </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- All User Table Ends-->
{% endblock content %}