{% extends "accounts/base.html" %}
<!--  -->
{% block title %} send complaints {% endblock title %}
<!--  -->
{% block headerTite %} Send Complaints {% endblock headerTite %}
<!--  -->
{% block linkForm %}
<a href="{% url 'complaints:my_complaints' %}" class="align-items-center btn btn-theme">
    <span class="lnr lnr-eye"></span>View Complaints
</a>
{% endblock linkForm %}
<!--  -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="row mb-5">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="title">Title</label>
                    <!--  -->
                    <input type="text" class="form-control" value="{{complaint.title}}" readonly>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="description">Description</label>
                    <!--  -->
                    <div class="mb-3">
                        <textarea class="form-control" readonly rows="3">{{complaint.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}