{% load static %}
<div class="sidebar-wrapper">
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a hrsef="{% url 'accounts:dashboard' %}" data-bs-original-title="" title="">
                <img class="img-fluid for-dark" src="{% static '/assets/images/logo/logo-white.png' %}" alt="">
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="{% url 'accounts:dashboard' %}">
                <img class="img-fluid main-logo" src="{% static '/assets/images/logo/logo.png' %}" alt="logo">
            </a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>
                    <li class="sidebar-main-title sidebar-main-title-3">
                        <div>
                            <h6 class="lan-1">General</h6>
                            <p class="lan-2">Dashboards &amp; Users.</p>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'accounts:dashboard' %}">
                            <i data-feather="home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="users"></i>
                            <span>Users</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'accounts:users' %}">All users</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:create_user' %}">Add new user</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-main-title sidebar-main-title-2">
                        <div>
                            <h6 class="lan-1">User Models</h6>
                            <p class="lan-2">Ready To Use Models</p>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="archive"></i>
                            <span>Deans</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="order-list.html">Deans Dashboard</a>
                            </li>
                            <li>
                                <a href="order-detail.html">Order Detail</a>
                            </li>
                            <li>
                                <a href="order-tracking.html">Order Tracking</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="users"></i>
                            <span>HODS</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="vendor-list.html">HODs Dashboard</a>
                            </li>
                            <li>
                                <a href="create-vendor.html">Create Vendor</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="users"></i>
                            <span>Registry</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="translation.html">Registry Dashboard</a>
                            </li>
                            <li>
                                <a href="currency-rates.html">Add Account</a>
                            </li>
                            <li>
                                <a href="taxes.html">Taxes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="box"></i>
                            <span>Students</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="products.html">Students Dashboard</a>
                            </li>
                            <li>
                                <a href="add-new-product.html">New Student</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="align-left"></i>
                            <span>Complaints</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="menu-lists.html">Complaints Lists</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i data-feather="settings"></i>
                            <span>Settings</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'accounts:profile' %}">Profile Setting</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="forgot-password.html">
                            <i data-feather="key"></i>
                            <span>Forgot Password</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>