{% extends "accounts/base.html" %}
<!--  -->
{% block title %} Forward {% endblock title %}
<!--  -->
{% block headerTitle %} Forward Complaints {% endblock headerTitle %}
<!--  -->
{% block linkForm %}
<a href="{% url 'complaints:view_complaints' %}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Go back">
    <span class="lnr lnr-arrow-left"></span> back
</a>
{% endblock linkForm %}
<!--  -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {{message}}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Forward Complaints
            </div>
            <div class="card-body">
                <form action="{% url 'complaints:forward' complaint_id=complaint.id %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-5">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="forward_to">{{form.forward_to.label}}</label>
                                <!--  -->
                                {{form.forward_to}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="user_repond_text">{{form.user_repond_text.label}}</label>
                                <!--  -->
                                {{form.user_repond_text}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-primary">Forward</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}