{% extends "accounts/base.html" %}
<!--  -->
{% block title %} Create Programme {% endblock title %}
<!--  -->
{% block headerTitle %} Create Programme {% endblock headerTitle %}
<!--  -->
{% block linkForm %}
<script>
    document.write(new Date().toUTCString().replace(new Date().toUTCString().substring(17), ""));
</script>
{% endblock linkForm %}
<!--  -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                        <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button> {{message}}
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button">Add Programme</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button">Programmes</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                <form action="{% url 'accounts:create_programme' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-4 row align-items-center">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label-title col-lg-2 col-md-3 mb-0" for="department">{{form.department.label}}</label> {{form.department}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label-title col-lg-2 col-md-3 mb-0" for="title">{{form.title.label}}</label> {{form.title}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <button class="btn btn-success w-25 offset-sm-9 offset-md-9 offset-lg-9" type="submit">Add Record</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                <div class="card-header-1">
                                    <h5>Programme Information</h5>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <div class="table-responsive table-desi">
                                                            <table class="user-table table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <span class="form-check user-checkbox">
                                                                                <input class="checkbox_animated" type="checkbox" value="" id="checkall">
                                                                            </span>Title
                                                                        </th>
                                                                        <th>Department</th>
                                                                        <th>Faculty</th>
                                                                        <th>Options</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for programme in programmes %}
                                                                    <tr>
                                                                        <td>
                                                                            <a href="javascript:void(0)">
                                                                                <span class="d-block ">{{programme.title}}</span>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="javascript:void(0)">
                                                                                <span class="d-block ">{{programme.department}}</span>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="javascript:void(0)">
                                                                                <span class="d-block">{{programme.department.faculty}}</span>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <ul>

                                                                                <li>
                                                                                    <a href="{% url 'accounts:edit_programme' programme_id=programme.id %}">
                                                                                        <span class="lnr lnr-pencil"></span>
                                                                                    </a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{programme.id}}">
                                                                                        <span class="lnr lnr-trash"></span>
                                                                                        <div class="modal fade" id="staticBackdrop{{programme.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog  modal-dialog-centered">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-body">
                                                                                                        <h5 style="color:black" class="modal-title" id="staticBackdropLabel">Delete!!</h5>
                                                                                                        <p style="color:black">Are you sure you want to delete this record?</p>
                                                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                                        <div class="button-box">
                                                                                                            <a href="#" type="button" class="btn btn--no " data-bs-dismiss="modal">No</a>
                                                                                                            <a href="{% url 'accounts:delete_programme' programme_id=programme.id %}" type="button" class="btn  btn--yes btn-primary">Yes</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="pagination-box">
                                                    <nav class="ms-auto me-auto " aria-label="...">
                                                        <ul class="pagination pagination-primary">
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="javascript:void(0)">Previous</a>
                                                            </li>
                                                            <li class="page-item active">
                                                                <a class="page-link" href="javascript:void(0)">1 </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="javascript:void(0)">2</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="javascript:void(0)">3</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="javascript:void(0)">Next</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- All User Table Ends-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}